numpy
pandas 
scipy
matplotlib
seaborn 
scikit-learn
transformers
langchain
chormdb
uvicorn
pydantic
fastapi
stramlit
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https:/download.pytorch.org/whl/cpu
